<div class="grid_6">
	<div class="welcome-image">
		<%= image_tag "iaplogofull.png", {:alt => "logo"}%>
	</div>
</div>
<div class="grid_9 suffix_1 welcome">
	<h1>Home Cooked Meals</h1>
	<h2>delivered right to your doorstep</h2>
	<p>
		Are you a <strong>busy family</strong> that doesn't have a lot of time to grocery shop, 
		cook, and clean up after a long, grueling day??  If so, <strong>let me do all 
		the 'dirty' work for you.</strong>  Home-cooked meals delivered right to your doorstep.  
		<strong>No mess, no fuss!</strong>
		</p>
		<div class="c2a">
			<h2>$30.00 (plus tax)</h2>
			<h3>includes meal, salad and a side.  Additional sides are available for 5.95 each.</h3>
			<p>Call Alexis <span class="black">555-5555</span> to place your order today!</p>
		</div>
</div>
<br class="clear"/>
<div class="prefix_2"><p></p></div>
<% @meals.each do |meal| %>
<div class="grid_5 day-meal">
	<h3><strong><%=h meal.day %></strong></h3>
	<h4><strong><%=meal.title%></strong></h4>
		<% meal.entrees.each do |entree|%>
			<p><%=entree.name%></p>
		<%end%>
	<h5><%=h meal.side_title %></h5>
	<ul>
		<% meal.side_items.each do |item|%>
			<li><%=item.description%></li>
		<%end%>
	</ul>
	<h5><%=h meal.other_title %></h5>
	<ul>
		<% meal.other_items.each do |other|%>
			<li><%=other.description%></li>
		<%end%>
	<ul>
</div>
<%end%>
<br class="clear"/>