<div class="grid_16">
	<h1>Listing meals</h1>

	<table classs="grid">
	  <tr>
	    <th>Title</th>
	    <th>Side title</th>
	    <th>Other title</th>
	    <th>Day</th>
	    <th>Published</th>
	  </tr>

	<% @meals.each do |meal| %>
	  <tr>
	    <td><%=h meal.title %></td>
	    <td><%=h meal.side_title %></td>
	    <td><%=h meal.other_title %></td>
	    <td><%=h meal.day %></td>
	    <td><%=h meal.published %></td>
	    <td><%= link_to 'Show', meal %></td>
	    <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
	    <td><%= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New meal', new_meal_path %>
</div>
<br	class="clear"/>