<h1>Listing sides</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% @sides.each do |side| %>
  <tr>
    <td><%=h side.description %></td>
    <td><%= link_to 'Show', side %></td>
    <td><%= link_to 'Edit', edit_side_path(side) %></td>
    <td><%= link_to 'Destroy', side, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New side', new_side_path %>