<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
 	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>In a Pickle Catering LLC.</title>
	<%= stylesheet_link_tag :all %>
	<link href='http://fonts.googleapis.com/css?family=Tangerine:regular,bold' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata&subset=latin' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light&subset=latin' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://use.typekit.com/nhb6xsn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= javascript_include_tag :defaults %>
	
</head>

<body>
<div id="header">
	<div id="header-inner" class="container_16">
		<div class="grid_6">
			<span id="logo">In a Pickle Catering</span>
		</div>
		<ul id="menu" class="grid_10">
			<li><%=link_to "Home",:controller=>"home", :action =>"index"%></li>
			<li><%=link_to "About", :controller=>"home", :action => "about"%></li>
		</ul>
	</div>	
</div>

<div id="content">
	<div id="content-inner" class="container_16">
		<%= yield%>
	</div>	
</div>

<div id="footer">
	<div id="footer-inner" class="container_16">
		<span class="grid_16 cl"><%=link_to "Sign In", :controller=>"users", :action=>"sign_in"%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=link_to "Meals", :controller=>"meals"%></span>
		
	</div>	
</div>

</body>
</html>

